.btn {
    width: 40%;
    background-color: #82c246;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        box-shadow: 5px 5px 10px #82c246;
    }
}